.confirm-background {
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
  }
  .confirm-container {
    z-index: 5;
    width: 400px;
    height: 156px;
    background-color: #fff;
    position: fixed;
    top: calc((100vh - 156px) / 2);
    left: calc((100vw - 400px) / 2);
    z-index: 5;
    border: 2px solid #dfdfdf;
  }

  .confirm-header{
    padding:10px 14px;
    background-color: #f0f0f0;
    height: 19px;
    width: 370px;
    display: flex;
  }
  .title{
      width: 348px;
     
      font: 600 16px Roboto!important;
      color: #212121;
  }
  .icon-x{
      flex:1;
      background: url('https://eshopvnappg1.misacdn.net/QLCH/resources/images/common-icon.png') 
      no-repeat  -1102px -153px;
      height:16px;
      width: 16px;
      position: absolute;
      right: 14px;
      top: 11px;

  }
  .confirm-content{
      height: 44px;
      padding: 10px;
      position: relative;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
  }
  .icon-question{
    background: url('https://eshopvnappg1.misacdn.net/QLCH/resources/images/icon-popup.png') 
      no-repeat  -165px -2px;
      height:44px;
      width: 44px;
      position: absolute;
      left: 10px;
      top: 10px;
  }
  .content-text{
    height: 34px;
    position: absolute;
    left: 64px;
    color: #404040;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    font-family: open sans,helvetica neue,helvetica,arial,verdana,sans-serif;
  }
  .confirm-footer{
    padding: 8px 0px 8px 6px;
    height: 36px;
    position: relative;
  }
  .btn-delete{
    cursor: pointer;
  }
  .footer-btn-delete{
    width: 59px;
    height: 16px;
    padding: 7px;
    border: 1px;
    background-color: #df4646;
    position: absolute;
    right: 83px;

  }
  .footer-btn-delete:hover{
    background-color: red;
  }
  .footer-icon-delete{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png') no-repeat -1077px -112px;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 7px;
    top: -10px;
  }
  .text-delete{
    text-align: center;
    font-family: Roboto!important;
    border-color: none;
    color: #fff;
    font-weight: 700;


  }
  .footer-btn-cancel{
      width: 61px;
      height: 16px;
      padding: 7px;
      background-color: #ffffff;
        position: absolute;
        right: 0px;
        top: 7px;
        border: 1px solid #f0f0f0;

  }
   .footer-btn-cancel:hover{
      border-color: #2b3173;
   }
  .icon-cancel{
    background: url('https://eshopvnappg1.misacdn.net/QLCH/resources/images/cancel-blue.png') 
    no-repeat   3px 9px #fff;
    height:20px;
    width: 15px;
    position: absolute;
    left: 3px;
    top: 0px;

  }
  .text-cancel{
      position: absolute;
      right: 12px;
      font-family: Roboto!important;
 
      color: #2b3173;
    font-weight: 700;

  }