.content{
    position: absolute;
    right: auto;
    left: 150px;
    top: 52px;
    margin: 0px;
    width: calc(100% - 150px);
    height: calc(100% - 52px);
    background-color: #e5e6eb;
    overflow: hidden;
}