.header{
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 150px);
    height: 52px;
    background: #fff;
}
.header .header-left{
    width: 122px;
    height: 52px;
    align-items: center;
    
}
.header-left .name{

}
.header .header-middle{
    position: absolute;
    display: flex;
    align-items: center;
    height: 52px;
    left:122px;
    right: 149px;
    border-right: 1px solid #d0d0d0;;

}
.header .header-middle .shop-list{
    background-color: #fff !important;
    position: absolute;
    min-width: 162px;
    margin: 0px;
    height: 32px;
    right: 174px;
    top: 10px;
    left: 1143px;
    border: 1px solid #c3c3c3;
    padding: 7px;
    align-items: center !important;
}

.shop-list-wrap{
    width: 146px;
    height: 16px;
    justify-content: center;
    display: flex;
}
.shop-list-name-wrap{
    width: 134px;
    height: 16px;
    
}
.shop-list-name{
    font: 500 13px Roboto;
    color: #212121;
    padding: 0 5px;
    max-width: 100%;
    text-align: -webkit-center;
}
.arrow-down{

    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/arrow-down-line.png') no-repeat;
    width: 12px;
    height: 8px;
    align-self: center;
}

.header .header-middle .shop-list:hover{
    background-color: none !important;
}

.header .header-middle .account{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0px;
    right: auto;
    top: 10px;
    left: 1306px;
    height: 35px;
    right: 19px;
    justify-content: center;

  

}
.account{

}
.btn-account{
    background-color: #fff !important;
}
.account-img{
    background-color: #fff !important;
    display: flex;
    background: url('https://misard.mshopkeeper.vn/backendg2/api/Image?id=&type=0&w=50&h=50&CompanyCode=misard') no-repeat;
    width: 28px !important;
    height: 28px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
}

.account-name{

}

.account .account-img{

}
.account .account-name{

}
.header .header-phone{
   position: absolute;
   bottom: 0px;
    top: 0px;
    margin: 0px;
    left: 1615px;
    right: 92px;
    
    border: 1px;
    padding-left:7px;
    padding-right: 7px;

}
.header-phone .phone-background{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/misasupport_1.png') no-repeat;
    width: 46px;
    height: 52px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
    background-color: #2b3173;

}
.phone-icon{

}

.header .header-ring{
    position: absolute;
    margin: 0px;
    
    right: 46px;
    top: 8px;
    bottom: 8px;
    left: 1669px;
    padding: 7px;
    text-align: -webkit-center;
    border-right: 1px solid #c3c3c3;
    

}
.header-ring .ring-icon{

    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/notify-18.png') no-repeat;
    width: 16px;
    height: 18px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
  

}

.header .header-question{
    position: absolute;
    margin: 0px;
    right: auto;
    top: 8px;
    left: 1715px;
    right: 0;
    padding: 7px;
    text-align: -webkit-center;

}
.header-question .question-icon{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon_help_18.png') no-repeat;
    width: 16px;
    height: 18px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
}

