.header{
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 150px);
    height: 52px;
    background: #fff;
}
.header .header-left{
    width: 122px;
    height: 52px;
    align-items: center;
    
}
.header-left .name{
    position:absolute;
    padding: 0px 0px 0px 21px;
    right: auto;
    left: 0px;
    top: 18px;
    margin: 0px;
    font-size: 18px!important;
    font-weight: 700;
    color: #212121;
    font-weight: 700;
    font-family: roboto;
}
 .header .header-middle{
    position: absolute;
    display: flex;
    align-items: center;
    height: 52px;
    left:122px;
    width: calc(100% - 122px - 138px);
    border-right: 1px solid #d0d0d0;

}
.header .header-middle .shop-list{
    background-color: #fff !important;
    position: absolute;
    margin: 0px;
    height: 16px;
    right: 190px;
    top: 10px;
    width:146px;
    border: 1px solid #c3c3c3;
    padding: 7px;
    align-items: center !important;
}

.shop-list-wrap{
    width: 146px;
    height: 16px;
    justify-content: center;
    display: flex;
}
.shop-list-name-wrap{
    width: 134px;
    height: 16px;
    
}
.shop-list-name{
    font: 500 13px Roboto;
    color: #212121;
    padding: 0 5px;
    max-width: 100%;
    text-align: -webkit-center;
    font: 500 15px Roboto;
    color: #212121;
}
.arrow-down{

    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/arrow-down-line.png') no-repeat;
    width: 12px;
    height: 8px;
    align-self: center;
    background-position: center;
}

.header .header-middle .shop-list:hover{
    background-color: none !important;
}

.header .header-middle .account{
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0px;
    right: auto;
    top: 10px;
    height: 18px;
    right: 0px;
    width:174px;
    justify-content: center;
    padding:7px;
}
.account-name{
        align-self: center;
            padding-right: 11px;
    padding-top: 4px;
    padding-left:5px !important;

}
.btn-account .arrow-down{

    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/arrow-down-line.png') no-repeat;
    width: 12px;
    height: 8px;
    align-self: center;
    background-position: center;
}
.btn-account{
    background-color: #fff !important;
    display:flex;
}
.account-img{
    background-color: #fff !important;
    display: flex;
    background: url('https://misard.mshopkeeper.vn/backendg2/api/Image?id=&type=0&w=50&h=50&CompanyCode=misard') no-repeat;
    width: 28px !important;
    height: 28px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
    margin-right:3px;
}

.account-name{

}

.account .account-img{

}
.account .account-name{

}

.header .header-phone{
   position: absolute;
   bottom: 0px;
    top: 0px;
    margin: 0px;
    right: 92px;
    border: 1px;
    width:39px;
    padding-left:7px;
    padding-right: 7px;

}
.header-phone .phone-background{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/misasupport_1.png') no-repeat;
    width: 46px;
    height: 52px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
    background-color: #2b3173;

}
.phone-icon{

}

.header .header-ring{
    position: absolute;
    margin: 0px;
    right: 46px;
    width: 31px;
    top: 8px;
    bottom: 8px;
    padding: 7px;
    text-align: -webkit-center;
    border-right: 1px solid #c3c3c3;
    

}
.header-ring .ring-icon{

    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/notify-18.png') no-repeat;
    width: 16px;
    height: 18px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
  

}

.header .header-question{
    position: absolute;
    margin: 0px;
    right: 0px;
    top: 8px;
    width:32px;
    padding: 7px;
    text-align: -webkit-center;

}
.header-question .question-icon{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon_help_18.png') no-repeat;
    width: 18px;
    height: 20px;
    align-self: center;
    text-align: center !important;
    display: inline-block !important;
    background-size: contain;
}

