.navbar {
  position: relative;
  float: left;
  width: 150px;
  height: 100vh;
  background-color: #2b3173;
}
.navbar .logo-site {
  background-color: #1e235a;
  width: 150px;
  height: 52px;
  left: 0px;
  top: 0px;
}
.navbar .logo-site .logo-eshop {

  width: 150px;
  height: 100%;
  padding-top: 3px;
  background-image: url("../../assets/img/Logo_Full_White.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar .navbar-content {
   
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 0 auto;
   
    color: #aaacc7;
    text-decoration: none;
}
.navbar .navbar-content .nav-item {
  display: flex;
  cursor: pointer;
  line-height: 44px;
  position: relative;
  width: 150px;
  margin: 0 auto;
  height: 40px;
  color: #aaacc7;
}
.navbar .navbar-content .nav-item:hover{
    background-color: #1e235a;
}

.nav-item .nav-item-icon {
  align-self: center;
  margin-right: 10px;
  background-repeat: no-repeat; 
}

.nav-item-dashboard {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px 6px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;
}
.nav-item-report {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px -271px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;

}
.nav-item-order {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px -192px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;

}
.nav-item-buy {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px -231px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;
 
}
.nav-item-promotion {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px -312px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;
  
}
.nav-item-manage-shop {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px -381px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;

}
.nav-item-product {
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1') no-repeat -28px -416px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;
 
}




.navbar .navbar-content .nav-item .nav-item-text{
    position: absolute;
    width: 110px;
    height: 26px;
    left: 0;
    /* bottom: 3px; */
    text-align: left;
    padding-left: 40px;
}
