.dialog-header{
    position: relative;
}
.btn-footer{
    height: 35px;
    position: relative;
    padding: 7px;
    align-items: center;
}
.btn-3{
    border: none;
    background-color: #ffffff;
    color: #2b3173;
    font: 600 13px Roboto!important;
}
.icon-help{
    background: url("https://eshopvnappg2.misacdn.net/QLCH/resources/images/help.png")
    no-repeat 4px 1px;
  height: 16px !important;
  width: 16px !important;
  position: absolute;
  padding:0px !important;
  left: 7px;
  top: 8px;

}
.text-help{
    position: absolute;
    right: 7px;
    top: 8px;;
}
.btn-1{
    width: 66px;
    height: 35px;
    background-color: #2b3173;
    border:1px solid #2b3173!important;
    position: absolute;
    left: 280px;


}
.btn-2{
     border:1px solid #2b3173!important;
     width: 138px; 
     margin-right: 8px;
}
.btn-4{
    width: 90px;
    background-color: #fff;
}
.btn-4:hover{
    border: 1px solid #5fa2dd !important;
}
.text-save{
    position: absolute;
    right: 0px;
    top: 8px;
    color: #fff !important;
}
.icon-save{
background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/slibarmenu.png?v=1')
 no-repeat -28px 6px;
  width: 26px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 2px;
}
.icon-plus{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png')
  no-repeat  -26px -127px;
  height: 40px !important;
  width: 16px !important;
  position: absolute;
  padding:0px !important;
  left: 7px;
  top: -17px;
}
.text-plus{
    font-family: Roboto!important;
    color: #fff;
    font-weight: 555;
    position: absolute;
    right: 1px;
    top:8px;
}
.footer-icon-x{
    background: url("https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png")
    no-repeat -252px -127px;
  height: 45px !important;
    width: 15px !important;
    position: absolute;
    padding: 0px !important;
    left: 7px;
    top: -17px;
}


.dialog-header .icon-x {
  background: url("https://eshopvnappg2.misacdn.net/QLCH/resources/images/tools/tool-sprites.png")
    no-repeat -1127px -127px;
  height: 16px !important;
  width: 16px !important;
  position: absolute;
  padding:0px !important;
  right: 14px;
  top: 10px;
  
}
.d-icon {
  background-repeat: no-repeat;
  background-position: center;
  border: none !important;
  outline: none;
}
.dialog-background {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
}
.dialog-container {
  z-index: 5;
  width: 600px;
  height: 479px;
  background-color: white;
  position: fixed;
  top: calc((100vh - 479px) / 2);
  left: calc((100vw - 600px) / 2);
  z-index: 5;
  border-radius: 3px;
}
.dialog-container .dialog-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  max-height: 41px;
  background-color: #f0f0f0;
  border-radius: 3px 3px 0 0;
}
.dialog-header .header-title {
  font-size: 16px;
  font-weight: 700;
}
.dialog-container .dialog-content {
  height: 364px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
  border: 1px solid #e1e1e1;
}
.dialog-content .dialog-row {
  width: 100%;
  display: flex;
  padding: 6px 0;
  justify-content: space-between;
}
.dialog-row label {
  white-space: nowrap;
  padding: 8px 5px 0 0;
  min-width: 100px;
  max-width: 100px;
}
.dialog-row .left-label {
  padding-left: 16px;
}
.dialog-row .d-input {
  line-height: 20px;
  width: 100%;
  min-width: 420px;
  padding: 5px 10px;
  outline: none !important;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}
.dialog-row .d-input:focus {
  border: 1px solid #2b3173;
}
.dialog-row .icon-exclamation {
  position: relative;
  left: 3px;
  top: 35%;
  min-width: 16px;
  display: none;
}
.dialog-row .icon-exclamation:hover + span {
  display: block;
}
.dialog-row .input-required {
  position: relative;
  display: none;
  top: 100%;
}
.dialog-row .d-select {
  height: 32px;
  min-width: 170px;
  max-width: 170px;
  padding: 5px 10px;
  outline: none !important;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}
.dialog-row .d-select:focus {
  border: 1px solid #2b3173;
}
.dialog-row .d-text-area {
  padding: 5px 10px 4px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  outline: none;
  max-width: calc(100% - 126px);
  min-width: 420px;
  max-height: 69px;
  min-height: 69px;
  resize: none;
}
.dialog-row .d-text-area:focus {
  border: 1px solid #2b3173;
}
.dialog-row .dialog-sub-row {
  display: flex;
  white-space: nowrap;
}
.dialog-sub-row .d-input {
  max-width: 148px;
  min-width: 148px;
}
.dialog-footer {
  display: flex;
  align-items: center;
  height: 61px;
  padding: 0 10px;
  justify-content: space-between;
}
.dialog-footer .dialog-footer-left {
  display: flex;
  padding: 7px;
  width: 78px;
  height: 19px;
  position: relative;
}
.dialog-footer-left .btn-3:hover {
  background-color: #e5e6eb;
  border-color: #e5e6eb !important;
}
.dialog-footer .d-text {
  color: #2b3173;
  font-size: 600;
  padding: 0 5px;
}
.dialog-footer .dialog-footer-right {
  display: flex;
}