.dialog-header{
    position: relative;
}
.btn-footer{
    height: 35px;
    position: relative;
    padding: 7px;
    align-items: center;
}
.btn-help{
    border: none;
    background-color: #ffffff;
    color: #2b3173;
    font: 600 13px Roboto!important;
}
.icon-help{
    background: url("https://eshopvnappg2.misacdn.net/QLCH/resources/images/help.png")
    no-repeat 4px 1px;
  height: 16px !important;
  width: 16px !important;
  position: absolute;
  padding:0px !important;
  left: 7px;
  top: 8px;
  border: none;

}
.text-help{
    position: absolute;
    right: 7px;
    top: 8px;;
}

.dialog-footer .dialog-footer-right {
  display: flex;
  flex: 1;
  align-items: center;
 
}


.btn-right{
  position: relative;
  width: 65px;
  padding:7px;
  border: 1px solid #2b3173;
  height: 35px;
}
.btn-save{
  width: 66px;
  height: 35px;
  background-color: #2b3173;
  border:1px solid #2b3173!important;
  position: absolute;
  right: 231px;
}
.icon-save{
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png')
  no-repeat -324px -127px;
    width: 24px;
    height: 27px;
    position: absolute;
    left: 8px;
    top: 8px;
}
.text-save{
  position: absolute;
  right: 8px;
  top: 8px;
  color: #fff !important;
}
.btn-plus{
  border:1px solid #2b3173!important;
  width: 138px; 
  height: 35px;
  position: absolute;
  right: 91px;
}
.icon-plus{
  background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png')
  no-repeat  -26px -127px;
  height: 20px !important;
  width: 16px !important;
  position: absolute;
  padding:0px !important;
  left: 7px;
  top: 9px;
}
.text-plus{
    font-family: Roboto!important;
    font-size: 12px;
    color: #2b3173;
    font-weight: 555;
    position: absolute;
    right: 13px;
    top:10px;
}

.btn-cancel{
 width: 85px;
 background-color: #fff;
  position: absolute;
  right: 2px;
  
}
.btn-cancel:hover{
 border: 1px solid #5fa2dd !important;
}
.btn-right .text-cancel{
  top: 10px;
  
}
.footer-icon-x{
    background: url("https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png")
    no-repeat -252px -127px;
    height: 20px !important;
    width: 15px !important;
    position: absolute;
    padding: 0px !important;
    left: 7px;
    top: 9px;
}


.dialog-header .icon-x {
 
  height: 16px !important;
  width: 16px !important;
  position: absolute;
  padding:0px !important;
  right: 14px;
  top: 10px;
  
}
.d-icon {
  background-repeat: no-repeat;
  background-position: center;
  border: none !important;
  outline: none;
}
.dialog-background {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
}
.dialog-container {
  z-index: 5;
  width: 600px;
  height: 479px;
  background-color: white;
  position: fixed;
  top: calc((100vh - 479px) / 2);
  left: calc((100vw - 600px) / 2);
  z-index: 5;
  border-radius: 3px;
}
.dialog-container .dialog-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  max-height: 41px;
  background-color: #f0f0f0;
  border-radius: 3px 3px 0 0;
}
.dialog-header .header-title {
  font-size: 16px;
  font-weight: 700;
}
.dialog-container .dialog-content {
  height: 364px;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0;
  border: 1px solid #e1e1e1;
}
.dialog-content .dialog-row {
  width: 100%;
  display: flex;
  padding: 6px 0;
  justify-content: space-between;
}
.dialog-row label {
  white-space: nowrap;
  padding: 8px 5px 0 0;
  min-width: 100px;
  max-width: 100px;
}
.dialog-row .left-label {
  padding-left: 16px;
}
.dialog-row .d-input {
  line-height: 20px;
  width: 100%;
  min-width: 420px;
  padding: 5px 10px;
  outline: none !important;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}
.dialog-row .d-input:focus {
  
  border: 1px solid #636DDE !important;
}
.dialog-row .icon-exclamation {
  background: url("https://eshopvnappg1.misacdn.net/QLCH/resources/images/form/exclamation.png")
  no-repeat ;
  height: 16px !important;
  width: 16px !important;

  padding: 0px !important;
  position: relative;
  left: 3px;
  top: 30%;
  min-width: 16px;
}
.dialog-row .icon-exclamation:hover + span {
  
}
.dialog-row .input-required {
  position: relative;
  display: none;
  top: 100%;
}
.dialog-row .d-select {
  height: 32px;
  min-width: 170px;
  max-width: 170px;
  padding: 5px 10px;
  outline: none !important;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}
.dialog-row .d-select:focus {
  border: 1px solid #2b3173;
}
.dialog-row .d-text-area {
  padding: 5px 10px 4px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  outline: none;
  max-width: calc(100% - 126px);
  min-width: 420px;
  max-height: 69px;
  min-height: 69px;
  resize: none;
}
.dialog-row .d-text-area:focus {
  border: 1px solid #636DDE !important;
}
.dialog-row .dialog-sub-row {
  display: flex;
  white-space: nowrap;
}
.dialog-sub-row .d-input {
  max-width: 148px;
  min-width: 148px;
}
.dialog-footer {
  display: flex;
  align-items: center;
  height: 61px;
  padding: 0 10px;
  justify-content: space-between;
}
.dialog-footer .dialog-footer-left {
  display: flex;
  padding: 7px;
  width: 78px;
  height: 19px;
  position: relative;
}
.dialog-footer-left .btn-3:hover {
  background-color: #e5e6eb;
  border-color: #e5e6eb !important;
}
.dialog-footer .d-text {
  color: #2b3173;
  font-size: 600;
  padding: 0 5px;
}

/* .input-click{
  border: 1px solid red !important;
} */