#shop-list{
    padding: 8px;
    width: calc(100% - 16px );
    height:calc(100% - 52px);
}
.data-content{
    width: 100%;
    height: 100%;
    position:relative;
    background-color: #ffffff;
   
}
.data-table {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}
.grid {
   
    /* background-color: red; */
}
.shop-code{
    width: 160px;
    min-width: 160px;
    
   
}
.shop-name{
    width: 250px;
    min-width: 250px;
}
.shop-address{
    min-width: 250px;
}
.shop-phone{
    width: 130px;
    min-width: 130px;
}
.shop-status{
    width: 150px;
    min-width: 150px;
}
.th-filter{
    height: 35px;
    position:relative;
    width:100%;
}
.btn-filter{
    position:absolute;
    left:0px;
    width:34px;
    bottom:0;
    top:0;
    border: 1px solid #e1e1e1;;
    background-color:#ffff;
}
.icon-option-filter{
    position: absolute;
    top: 10px;
    left: 13px;
}
.input-filter{
    outline: none !important;
   position:absolute;
    top:0px;
    left:34px;
    width:calc(100% - 39px);
    
    bottom:0;
    background-color: #ffff;
    border: 1px solid #e1e1e1;
}
.input-filter:focus {
    border-top: 1px solid #636DDE !important;
    border-right: 1px solid #636DDE !important;
    border-left: 1px solid #636DDE !important;
}
table tbody tr{
    height:32px;

}
table tbody tr td{
    border-style: solid;
    border-color: #e9e9e9;
    border-width: 0 1px 1px 0px;
    text-align: left;
    max-height: 32px  !important;
    white-space: nowrap;
}
.store-code{
    max-width: 142px;
   
}
.store-name{
    max-width: 232px;
}
.store-address{
    max-width: 439px;
}
.store-phone{
    max-width: 141px;
}
.store-status{
    max-width: 141px;
}

table tbody tr:hover{
    background-color:#EAEFF4;
}
.th-filter select{
    width: 100%;
    height: 100%;
    border: 1px solid #e1e1e1;
} 

.footer{
    
    width: 100%;
    height: 32px;
    position: absolute;
    bottom: 0;
    border: 1px solid #e1e1e1!important;
    padding: 10px;
}
.footer .footer-icon{
    align-self: center;
  margin-right: 10px;
  background-repeat: no-repeat; 
  position: relative;
  display: flex;
}
.wrap-icon{
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    cursor: pointer;
    position:relative;
}
.wrap-icon-1{
 
}
.icon-1{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png') no-repeat  -649px -118px;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.page-title{
    position: absolute;
    left: 60px;
    align-self: center;
}
.wrap-page-number{
    position: absolute;
    left: 110px;
    align-self: center;
    border: none;
}
.wrap-page-number:focus{
    position: absolute;
    left: 110px;
    align-self: center;
    border: 0;
}
.input-page-number{
    width: 36PX;
    height: 16PX;
    padding: 4px 6px;
    text-align: center;
    border: 1px solid #d0d0d0;
}

.page-total{
    position: absolute;
    left: 167px;
    align-self: center;
}
.wrap-icon-2{
    left: 28px;
    position: absolute;
    
}
.icon-2{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png') no-repeat  -701px -118px;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.icon-3{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png') no-repeat  -749px -118px;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.icon-4{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png') no-repeat  -798px -118px;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.icon-5{
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/common-icon.png') no-repeat  -849px -118px;
    height: 30px;
    width: 20px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.wrap-icon-3{
    left: 216px;
    position: absolute;
    
}
.wrap-icon-4{
    left: 243px;
    position: absolute;
    
}
.wrap-icon-5{
    left: 270px;
    position: absolute;
}
.page-select{
    left: 300px;
    position: absolute;
    align-self: center;
    width: 46px;
    height: 26px;
    border: none;
}
.page-select select{
    width: 40px;
    height: 25px;
    border: 1px solid #d0d0d0;
    padding-left: 4px;
}
.column{
    border-right:1px solid #d0d0d0 ;
    background-color: #f0f0f0;

}
.table-grid{
    border: 1px solid #e1e1e1;
}

table thead tr th{
    text-align: -webkit-center;
   top: 0;
   z-index: 1 !important;
   position: sticky;
}
table tbody tr {
    height: 32px;
}
table tbody tr td{
    padding: 7px 10px 6px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;

}


.th-name{
    width: 139px;
    height: 19px;
    padding: 7px 10px 6px 10px;
    
}

table tbody tr:nth-child(odd){
    background-color:white;
}
table tr:nth-child(even){
 
    background-color:#eee;
}
table tr:nth-child(1){
    background-color:#E5E6EB;
}
table tr:nth-child(odd):hover{
    background-color: #EAEFF4;
}
table{
    overflow-y: auto;
}

.data-table{

    overflow: auto;
    height: calc(100% - 54px);


}
table thead{
    z-index: 1;
    top: 0px;
   
}
table tr:hover{
    background-color: #EAEFF4;
}

.selectedRow{
    background-color: #E2E4F1 !important;
}

.disable{
    background-color: #6b6f9d;
}




