.btn{
    display: flex;
    background-color: #2b3173;
    border: none;
    margin: 0!important;
    padding: 0 7px!important;
    height: 36px!important;
    width: auto;
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: top;
    overflow: hidden;
    align-items: center;

}
.btn:hover{
    background-color: #6b6f9d;
}
.btn-text{
    font: 400 13px roboto;

    padding: 0 5px;
    max-width: 100%;

}
